:root {
  --white: #d3d1d1;
  --gray: #161616;
  --red: #ff4532;
  --green: #79b199;
  --peach-1: #AD8174;
  --peach-2: #917164;
}

@keyframes bgAnim {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px -512px;
  }
}

body {
  background-color: var(--gray);

  font-family: 'Montserrat', sans-serif;
}

#title {
  text-align: center;
  margin: 3em;
}

#title>h1 {
  font-size: 5vw;
  color: var(--red);
  margin: 0;
}

#title>p {
  font-size: 1.2vw;
  color: var(--white);
}