/* Color palette */
:root {
  --white: #d3d1d1;
  --gray: #161616;
  --black: #101010;
  --red: #ff4532;
  --blue: #3245ff;
  --green: #79b199;
  --peach-1: #AD8174;
  --peach-2: #917164;
}

/* Simple fade in animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Scrolling BG animation */
@keyframes bgAnim {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px -512px;
  }
}

body {
  background-color: var(--gray);

  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

/*#region Home*/

#title {
  text-align: center;
  margin: 3em;

  opacity: 0;

  animation: fadeIn 5s forwards;
  animation-delay: 1s;
}

#title>h1 {
  font-size: 5vw;
  color: var(--red);
  margin: 0;
}

#title>p {
  font-size: 1.2vw;
  color: var(--white);
}

#options {
  text-align: center;

  font-size: 3vw;
  font-weight: 200;
}

#options>a {
  display: inline-block;
  margin: 2vh;

  color: var(--white);
  text-decoration: none;
  cursor: pointer;

  opacity: 0;

  animation: fadeIn 5s forwards;
  animation-delay: 2s;
}

/*#endregion */

/*#region About*/

#about>div {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 20%;
  padding-left: 2em;
  padding-right: 2em;

  animation: fadeIn 1s forwards;
  animation-delay: 0.2s;
  opacity: 0;

  line-height: 1.6em;

  background-color: var(--black);
}

#about>div>h1 {
  padding-bottom: 0.2em;
  margin-bottom: 0;
  border-bottom: 4px solid var(--gray);
}

#about>img {
  position: fixed;
  right: 2.5vh;
  top: 2.5vh;

  background-color: var(--black);
  padding: 1em;
  height: 90vh;
  width: auto;

  animation: fadeIn 1s forwards;
  animation-delay: 1.0s;
  opacity: 0;
}

/*#endregion*/

/*#region Projects*/

@keyframes projectEnterLeft {
  from {
    opacity: 0;
    transform: translate(-5vw, 0);
  }

  to {
    opacity: 1;
    transform: translate(0vw, 0);
  }
}

@keyframes projectEnterRight {
  from {
    opacity: 0;
    transform: translate(5vw, 0);
  }

  to {
    opacity: 1;
    transform: translate(0vw, 0);
  }
}

#projects>.project {
  width: 30vw;
  left: calc(50% - 15vw);
  background-color: var(--black);
  position: relative;
  margin: 1vw;
  padding: 10px;

  opacity: 0;
}

#projects>.project>p {
  font-size: 1.2vw;
  padding: 0.5em;
}

#projects>.project>h3 {
  display: inline;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0;
  font-size: 2vw;
  border-bottom: 4px solid #191919;
}

#projects>.project>img {
  position: relative;
  bottom: 0.5em;
  left: 0.5em;
  width: calc(100% - 2em);
  padding: 0.5em;
  outline: 2px solid var(--gray);
}

#projects>.project>i {
  display: block;
  position: relative;
  text-align: center;
  padding: 1em;
  width: calc(100% - 2em);
  border-bottom: 4px solid #191919;
  border-top: 4px solid #191919;
}

/*#endregion*/

.glow_text {
  background: transparent;
  transition: 0.2s;
}

.glow_text:hover {
  text-shadow: var(--white) 0px 0px 10px;
}

#back {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2px;

  border: 1px solid var(--white);
  border-radius: 10%;

  color: var(--white);
  font-size: 1.2vw;
  font-weight: 100;
}

#github {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2px;
}